*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: block;
}

.header{
    /*overflow: hidden;*/
    background-color: dodgerblue;
    padding: 40px 10px;
    min-height: 5vh;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    /*font-size: 25px;
    font-weight: bold;*/
    height: 40px;
    width: 40px;
    scale: 5%;
    position: relative;
    top: -25px;
}

/* Change the background color on mouse-over */
/*
.header a:hover {
    background-color: lightskyblue;
    color: black;
}*/

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
}
.header-right a:hover{
    background-color: lightskyblue;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*float: left;*/
}

.text-box{
    width: 90%;
    color: dodgerblue;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,10%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    font-weight: normal;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    font-weight: 200;
    color: black;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid cornflowerblue;
    background: cornflowerblue;
    transition: 1s;
}

.map{
    /*margin-top: 10%;
    width: 90%;
    
    margin-left: 50%;
    color: black;
    position: relative;
    top: 90%;
    left: 10%;
    transform: translate(-50%,-50%);*/
    display: block;
    text-align: center;
}
.map p{
    margin: 10px 0 15px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}
/* ändra margins, större mellanrum mellan rutorna!?? */
.address-input{
    margin-top: 150px;
    margin-bottom: -100px;
    font-size: 16px;
    font-weight: 200;
    color: black;
}

/* footer */
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: skyblue;
    height: auto;
    padding-top: 40px;
    width: 100vw;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer-content p{
    margin-bottom: 25px;
    margin-top: 5px;
}
.fa-heart-o {
    color: darkred;
}

/* ----------- About Page ------------- */

.about{
    width: 80%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 50px;
}
.row{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 50%;

}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.blue-btn{
    border: 1px solid steelblue;
    background: transparent;
    color: steelblue;
}
.blue-btn:hover{
    color: white;
}

/* Team pics */
.team{
    /* do the top two do anything??*/
    /*width: 80%;
    margin: auto;*/
    text-align: center;
    padding-top: 50px;
}
.team-col{
    flex-basis: 32%;
    border-radius: 10px; /* round the corners */
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.team-col img{
    /* size of image*/
    width: 100%;
    /*height: 100%; <-- works too(fix bottom of image)*/
    display: block;
}
.layer{
    background: transparent;
    /* covers the whole image: */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(104,195,163,0.5);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 32px;
    bottom: 0; /*location of text, if not in center there'll be a swipe motion when hover*/
    /*transform: translateX(-50%); <-- moves the text to the left*/
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
/*text visible when cursor is over image*/
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.team-poster img {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
