<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Drip Drop</title>
  <link rel="stylesheet" href="Style.css">
  <link rel="icon" type="image/png" href="../static/images/newDroneIcon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="header">
  <nav>
    <a href="index.html" class="logo"><img src="../static/images/newDroneIcon.png"></a>
    <div class="header-right">
      <a href="index.html">Home</a>
      <a href="contact.html">Contact</a>
      <a class="active" href="about.html">About</a>
    </div>
  </nav>

  <div class="text-box">
    <h1>
      About Us
    </h1>
    <p>

    </p>
  </div>
</section>

<!--- about content --->
<section class="about">

  <div class="row">
    <div class="about-col">
      <h1>The DripDrop Team</h1>
      <p>We are four students who banded together in order to realize a dream.
        We wanted to create a functional and user-friendly delivery service with the use of drones.
      </p>
      <a href="" class="hero-btn blue-btn">EXPLORE NOW</a>
    </div>
    <div class="about-col">
      <img src="images/dripdropteam.jpg" alt="team">
    </div>
  </div>
</section>

<!---- Meet the team ---->
<section class="team">
  <h1>Meet the Team</h1>
  <p>David. Johanna. Simon. Naima.</p>

  <div class="row">
    <div class="team-col">
      <img src="images/David.jpg">
      <div class="layer">
        <h3>Team Leader</h3>
      </div>
    </div>
    <div class="team-col">
      <img src="images/Johanna.jpg">
      <div class="layer">
        <h3>Anonymous Hacker</h3>
      </div>
    </div>
    <div class="team-col">
      <img src="images/Simon.jpg">
      <div class="layer">
        <h3>Head of Design</h3>
      </div>
    </div>
    <div class="team-col">
      <img src="images/Naima.jpg">
      <div class="layer">
        <h3>Team Counsellor</h3>
      </div>
    </div>
  </div>

</section>

<section class="team">
  <h1>Our Design Idea</h1>
  <div class="team-poster">
    <img src="images/poster.png">
  </div>

</section>

<!---- Footer ---->
<footer>
  <div class="footer-content">
    <h4>About DripDrop</h4>
    <p>The most important thing about us is that we are professional.</p>
    <p> </p>
    <p>Made with <i class="fa fa-heart-o"></i> by the DripDrop team</p>
  </div>
</footer>

</body>
</html>