<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Drip Drop</title>
  <link rel="stylesheet" href="Style.css">
  <link rel="icon" type="image/png" href="../static/images/newDroneIcon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="header">
  <nav>
    <a href="index.html" class="logo">DripDrop</a>
    <div class="header-right">
      <a href="index.html">Home</a>
      <a href="contact.html">Contact</a>
      <a class="active" href="about.html">About</a>
    </div>
  </nav>

  <div class="text-box">
    <h1>
      About Us
    </h1>
    <p>
      Information.
    </p>
  </div>
</section>

<section class="footer">
  <h4>About DripDrop</h4>
  <p>The most important thing about us is that we are professional.</p>
  <p> </p>
  <p>Made with <i class="fa fa-heart-o"></i> by the DripDrop team</p>
</section>

</body>
</html>