<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>DripDrop</title>
  <link rel="stylesheet" href="/static/Style.css">
  <link rel="icon" type="image/png" href="../static/images/newDroneIcon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  <script type="text/javascript">
    function Submit() {
      var from_addr = document.getElementById('faddr').value;
      var to_addr = document.getElementById('taddr').value;
      var data = { "faddr": from_addr,
                   "taddr": to_addr,
                 }
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          try{
            var resp = this.responseText;
            alert(resp);
          }
          catch(err){
            alert(this.responseText);
          }
        }
      };
      xhttp.open("POST", "http://192.168.1.3:5002/planner", true);
      xhttp.send(JSON.stringify(data));
    }
  </script>
  <script type="text/javascript">
    function LoadDrone(droneID, x, y, status) {
      var doc = document.getElementById("map");
      $( doc ).ready(function() {
      var doc_svg = doc.getSVGDocument();
      if(doc_svg != null){
          var svg = doc_svg.getElementById("map-svg");
          var circleNode = svg.getElementById(droneID);
          var color = 'red';
          if (status == 'idle'){
            color = 'green'
          }
          if (status == 'waiting'){
            color = 'yellow'
          }
          if(circleNode == null){
            circleNode = doc_svg.createElementNS("http://www.w3.org/2000/svg", "circle");
            circleNode.setAttributeNS(null, 'cx', x);
            circleNode.setAttributeNS(null, 'cy', y);
            circleNode.setAttributeNS(null, 'r', '5');
            circleNode.setAttributeNS(null, 'fill', color);
            circleNode.setAttributeNS(null, 'id', droneID);
            svg.appendChild(circleNode);  }
          else{
            circleNode.setAttributeNS(null, 'cx', x);
            circleNode.setAttributeNS(null, 'cy', y);
            circleNode.setAttributeNS(null, 'fill', color);
          }
      }
      else{
          console.log("Could not load doc_svg!");
      }
      
    }
  )
}
  </script> 
</head>

<body>
<section class="header">
  <nav>
    <a href="/" class="logo"><img src="../static/images/newDroneIcon.png"></a>
    <div class="header-right">
      <a class="active" href="index.html">Home</a>
      <a href="/contact">Contact</a>
      <a href="/about">About</a>
    </div>
  </nav>

  
</section>

<section class="map">

  <div class="text-box">
    <h1>
      DripDrop
    </h1>
    <p>
      Information.
    </p>
    <!--- <a href="" class="hero-btn">Ask Us To Know More</a> --->
  </div>

  <div class="address-input">
    <p>Current Position:</p>
    <form action="javascript:Submit()">
      <label for="fname">From address:</label><br>
      <input type="text" id="faddr" name="faddr"><br>
      <label for="lname">To address:</label><br>
      <input type="text" id="taddr" name="taddr"><br><br>
      <input type="submit" value="Search addresses">
    </form>
  </div>
  <object id="map" data="static/images/lund-map.svg" type="image/svg+xml" ></object>
  <script>
    var set_delay = 50,
    callout = function () {
    $.ajax({
      url: 'http://192.168.1.3:5000/get_drones'
    })
    .done(function (server_response) {
      var avalaible_drones = Object.keys(server_response)
      for (const droneID of avalaible_drones){
        var x = server_response[droneID].longitude
        var y = server_response[droneID].latitude
        var status = server_response[droneID].status
        LoadDrone(droneID, x, y, status)
      }
    })
    .always(function (server_response) {
        setTimeout(callout, set_delay);
    });
    };
    callout();    
  </script>
</section>

<!---- Footer ---->
<footer>
  <div class="footer-content">
    <h4>About DripDrop</h4>
    <p>The most important thing about us is that we are professional.</p>
    <p> </p>
    <p>Made with <i class="fa fa-heart-o"></i> by the DripDrop team</p>
  </div>
</footer>

</body>
</html>
